*, html {
	margin: 0;
	padding: 0;
}

html {
	background-image: url(./images/morris_thistleViolet1.png);
	background-repeat: repeat;
	background-color:#16002C;
}

body {
	font-family: 'M+ 1c', 'Source Sans Pro', 'Droid Sans', 'DejaVu Sans', Calibri, sans-serif;
	max-width: 1000px;
	margin:  0 auto !important;
	padding: 0 1.5em;
	background-color: #FFF;
}

p {
	margin: 0 0 0.5em;
}

div.references p {
	display: list-item;
	list-style: square;
	margin-left: 1.25em;
}

/*
div.references p:before {
	content: "▪ ";
	color: #46008C; #5C5C66
}
*/

tt, code, pre {
	font-family: 'M+ 1m', 'Source Code Pro', 'Droid Sans Mono', 'DejaVu Sans Mono', Consolas, monospace;
	font-size: 100%;
}

pre code {
	background-color: #F6F6F6;
	display: block;
	padding: 0.75em;
	margin: 0.5em 0;
}

h1 {
	line-height: 100%;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

h2, h3 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a:link, a:visited {
	text-decoration: none;
	color: #46008C;
}

a:hover, a:active {
	text-decoration: underline;
	color:#ed7700;
}

p code, td code {
	background-color: transparent;
	font-weight: bold;
	color: #666;
	border: none;
}

h1 code, h2 code {
	background-color: transparent;
	border: none;
	color: #666;
}

table {
	font-size: small;
	border: none;
	margin: 1.5em 0;
	border-spacing: 0px;
}

tr:nth-child(even) { background: #EEE; }
tr:nth-child(odd) { background: #FFF; }
tr.header {
	background: #666;
	color: #EEE;
}

td, th {
	border: none;
	border-spacing: 0px;
	padding: 0px 8px;
}

/* FONT AWESOME CSS */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}

/* CUSTOM FONTELLO CSS OVERRIDES */
@font-face {
  font-family: 'drammock';
  src: url('./fonts/drammock.eot?69332455');
  src: url('./fonts/drammock.woff?69332455') format('woff'),
       url('./fonts/drammock.eot?69332455#iefix') format('embedded-opentype'),
       url('./fonts/drammock.ttf?69332455') format('truetype'),
       url('./fonts/drammock.svg?69332455#drammock') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-ul {
	display: block;
	margin: 2.5em 0em 0em;
	padding: 1em 1em 2.5em;
	border-top: thin solid #46008c;
}
.fa-ul li {
	display: inline;
	margin-right: 0.75em;
}
.fa-ul li a span {
	color: #DCDCE6;
}
.fa-ul li a:hover span {
	color: #46008C;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
font-family: "drammock";
}

.icon-orcid:before { content: '\f007'; } /* '' */
.icon-gpg:before { content: '\f023'; } /* '' */
.icon-li:before { content: '\f08c'; } /* '' */
.icon-gh:before { content: '\f092'; } /* '' */
.icon-pl:before { content: '\f0d4'; } /* '' */
.icon-brain:before { content: '\f0f0'; } /* '' */
.icon-ncbi:before { content: '\f0f1'; } /* '' */
.icon-doc:before { content: '\f15c'; } /* '' */
.icon-env:before { content: '\f199'; } /* '' */
.icon-sch:before { content: '\f19d'; } /* '' */
